{% load style545_extras %}
{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108072950-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108072950-1');
      </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Style545+Cinnamon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">

        <!--Google fonts links-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

        <link rel="stylesheet" href="{%static "instore/css/bootstrap.min.css" %}">


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{%static "instore/css/plugins.css" %}" />
        <link rel="stylesheet" href="{%static "instore/css/roboto-webfont.css" %}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{%static "instore/css/style.css"%}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{%static "instore/css/responsive.css"%}" />

        <script src="{%static "instore/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"%}"></script>

    </head>
    <script>
    function submitform()
    {
      lookno=getParameterByName("look")
      switch(lookno) {
      case "1":
          window.location.replace('/style545app/storeview?look=2')
          break;
      case "2":
            window.location.replace('/style545app/storeview?look=3')
          break;
      case "3":
            window.location.replace('/style545app/storeview?look=4')
          break;
      default:
           document.getElementById("survey").submit()
        }

    }
    function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
    }


    </script>
    <body>
      <nav class="navbar navbar-default">
              <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/style545app/instoreview"><img style="width:200px;height:75px;" src="{% static "images/logo.png" %}"alt="Logo" /></a>
                  </div>
                </div>
              </nav>




{%if post%}
<section id="business" class="portfolio sections">
  <div class="head_title text-center">
     <h1>In Store Survey</h1>
 </div>
 <div class="col-sm-offset-4 row">
                <div class="portfolio-wrapper text-center">
                    <div class="portfolio-wrapper text-center">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="community-edition">
                               <h4>Thanks!</h4>
                                <table class="table">
                                 <tr>

                                   Hope you like your curated look!<br/>
                                   Please return this ipad to the store associated.<br/><br/>
                                   <p><b>Cinnamon + Style545</b><p>

                                 </tr>
                                </table>
                                <!--<div class="center-content">
                                  <input type="button" id="showlook" value="Store Associate" class="btn btn-default" onclick="showlook();">
                                </div>-->
                            </div>
                        </div>
                  </div>
                </div>
      </div><!--row-->
      <div class="head_title text-center">
      <h3>Store associate, please pull the following items</h3>
    </div>
      <div class="col-sm-offset-1 row">
                 <div class="portfolio-wrapper text-center">
                     <div class="col-md-4 col-sm-8 col-xs-12">
                         <div class="community-edition">
                            <h4>Look 1</h4>
                             <table class="table">
                               <tr>
                                 <td>
                                    <img id="lookpic" src="{%static "instore/images/OUTFIT 28.jpg" %}" alt="" height="" width="">
                                 </td>
                               </tr>
                             </table>
                             <table class="table">
                               <tr>
                                  <td class="text-left">Item</td>
                                  <td class="text-left">Quantity</td>
                               </tr>
                               <tr>
                                  <td class="text-left">Top: Boss , Item:1201, Shelf 4</td>
                                  <td class="text-left"><span class="label label-danger">12</span></td>
                               </tr>
                               <tr>
                                  <td class="text-left">Pants: Rag& Bone, Item:1001, Shelf 5</td>
                                  <td class="text-left"><span class="label label-danger">10</span></td>
                               </tr>
                             </table>
                             <div class="center-content">
                                          <input type="button" value="Select" class="btn btn-default" onclick="">
                                      </div>
                         </div>
                     </div>

                     <div class="portfolio-wrapper text-center">
                         <div class="col-md-4 col-sm-8 col-xs-12">
                           <div class="community-edition">
                              <h4>Look 2</h4>
                               <table class="table">
                                 <tr>
                                   <td>
                                      <img id="lookpic" src="{%static "instore/images/OUTFIT 25.jpg" %}" alt="" height="" width="">
                                   </td>
                                 </tr>
                               </table>
                               <table class="table">
                                 <tr>
                                    <td class="text-left">Item</td>
                                    <td class="text-left">Quantity</td>
                                 </tr>
                                 <tr>
                                    <td class="text-left">Watch: Timex , Item:101, Display</td>
                                    <td class="text-left"><span class="label label-danger">12</span></td>
                                 </tr>
                                 <tr>
                                    <td class="text-left">Shoes: Sam Eldelmen , Item:1100, Shelf 1</td>
                                    <td class="text-left"><span class="label label-danger">12</span></td>
                                 </tr>
                               </table>
                               <div class="center-content">
                                            <input type="button" value="Select" class="btn btn-default" onclick="">
                                        </div>
                           </div>
                         </div>
                   </div>
                   <div class="portfolio-wrapper text-center">
                       <div class="col-md-4 col-sm-8 col-xs-12">
                         <div class="community-edition">
                            <h4>Look 3</h4>
                             <table class="table">
                               <tr>
                                 <td>
                                    <img id="lookpic" src="{%static "instore/images/OUTFIT 17.jpg" %}" alt="" height="" width="">
                                 </td>
                               </tr>
                             </table>
                             <table class="table">
                               <tr>
                                  <td class="text-left">Item</td>
                                  <td class="text-left">Quantity</td>
                               </tr>
                               <tr>
                                  <td class="text-left">Skirt: Halogen , Item:2312, Display</td>
                                  <td class="text-left"><span class="label label-danger">1</span></td>
                               </tr>
                               <tr>
                                  <td class="text-left">Top: Calson , Item:1050, Shelf 3</td>
                                  <td class="text-left"><span class="label label-danger">5</span></td>
                               </tr>
                             </table>
                             <div class="center-content">
                                          <input type="button" value="Select" class="btn btn-default" onclick="">
                                      </div>
                         </div>
                       </div>
                 </div>
                 </div><!--row-->
</section>
{%else%}
<form name="survey" id="survey" method="POST" action="/style545app/storeview">
  {% csrf_token %}

   <section id="business" class="portfolio sections">
     <div class="head_title text-center">
        <h1>In Store Survey</h1>
    </div>
    <div class="col-sm-offset-4 row">
                   <div class="portfolio-wrapper text-center">
                       <div class="portfolio-wrapper text-center">
                           <div class="col-md-8 col-sm-12 col-xs-12">
                               <div class="community-edition">
                                  <h4 id="header"></h4>
                                  <script>
                                    lookno=getParameterByName("look")
                                    document.getElementById("header").innerHTML="Cinnamon + Style Look " + lookno
                                  </script>
                                   <table class="table">
                                    <tr>
                                      <td>
                                         <img id="lookpic"  alt="" height="" width="">
                                       </td>
                                      <td class="text-left" width="100">
                                        <br/>  <br/>  <br/><br/>
                                        <div class="form-group">
                                        <label for="validate-text">Try on..</label>
                                          <div class="radio">
                                       <label><input type="radio" name="radioage" value="18-25">Full Look</label>
</div>
<div class="radio">
                              <label><input type="radio" name="radioage" value="26-35" checked>Top</label>
  </div>
<div class="radio">
                                       <label><input type="radio" name="radioage" value="36-50">Accessories</label>
  </div>
<div class="radio">
                                       <label><input type="radio" name="radioage" value="50+">Pants</label>
                                     </div>
                                   <div class="radio">
                                        <label><input type="radio" name="radioage" value="50+">Shoes</label>
                                     </div>
  </div>
                                     </div>
                                      </td>
                                    </tr>
                                   </table>
                                   <div class="center-content">
                                     <input type="button" value="Next" class="btn btn-default" onclick="submitform();">
                                            </div>
                               </div>
                           </div>
                     </div>
                   </div>
                 </div><!--row-->
   </section>
{%endif%}
 </form>
 <script>
   lookno=getParameterByName("look")
   var img=document.getElementById("lookpic")
   switch(lookno) {
   case "1":
       img.src="{%static "instore/images/OUTFIT 28.jpg" %}"
       break;
   case "2":
       img.src="{%static "instore/images/OUTFIT 17.jpg" %}"
       break;
   case "3":
       img.src="{%static "instore/images/OUTFIT 25.jpg" %}"
       break;
   case "4":
       img.src="{%static "instore/images/OUTFIT 41.jpg" %}"
       break;
   default:
      img.src="{%static "instore/images/OUTFIT 28.jpg" %}"
     }
 </script>
</body>
