{% extends 'style545app/base.html' %}

{% load style545_extras %}

{% load staticfiles %}


{% block title %}Looks{% endblock %}

{% block body_block %}
<script src="{% static "js/style545.js" %}"></script>

<script>
function getprice(price,itemn)
{
  var obj
  try{
   obj=JSON.parse(price)
}
catch (err)
{
  alert(err.message)
}
if (isNaN(parseInt(obj.item_price)))
{
  price=0
}
else {
  price=parseInt(obj.item_price)
}
if (obj.itemimageurl=="0" || obj.itemimageurl=="" ) {
url="https://storage.googleapis.com/wzukusers/user-29032408/images/595d35dcaad07y65ba2d/Screen-Shot-2017-07-05-at-1.53.49-PM_d400.png"
}
else {
  url=obj.itemimageurl
}
document.getElementById("price"+itemn).value = price
document.getElementById("itemimage"+itemn).src = url
totalprice();
obj=null
}
function totalprice()
{
  var temp = new Array();
  var total=0;
  temp = document.getElementById("itemnumber").value.split(",")
  for (i=1; i<=temp.length;i++)
  {
    var currprice=parseInt(document.getElementById("price"+i.toString()).value)
    if (!isNaN(currprice))
    total=total+currprice;
  }

    document.getElementById("total").value =total
}
function validateform()
{
  var temp = new Array();
  var arr = new Array()
  var total=0;
  temp = document.getElementById("itemnumber").value.split(",")
  for (i=0; i<temp.length;i++)
  {
     arr[i]=JSON.parse(document.getElementById("item"+(i+1).toString()).value).itemid
  }
  //check if there are atleast 4 items selected. (itemid<>0)
  //alert(JSON.stringify(arr))
 count=0
  for (var i = 0; i < arr.length; i++) {
    if (arr[i]=="0"){
      count=count+1
    }
  }
  if (count>2){
    alert('Please select atleast 4 items to complete the look')
    return(false)
  }
 var sorted_arr = arr.slice().sort()
 for (var i = 0; i < arr.length - 1; i++) {
    if (sorted_arr[i + 1] == sorted_arr[i] && sorted_arr[i] != 0) {
        alert('Cannot have duplicate items in a look.')
        return (false)
    }
}

  if (document.getElementById("lookname").value =="")
  {
    alert ('Look name cannot be empty')
    return (false)
  }
  else {
    return(true)
  }
}
function submitform()
{
  if (validateform()){
    document.getElementById("category_form").submit()
  }

}
</script>
    <div class="page-header">
                <h1>Looks Master</h1>
    </div>
     <form id="category_form" method="post" action="/style545app/">
        {% csrf_token %}
       <div>
         <p> Logged in Stylist: <label value="">{{ user.get_username }}</label></p>
          <p> Look Name:  <input type="text" id="lookname" name="lookname" value="" length=50></input></p>
           <hr/>
           <div class="panel panel-default">
             <div class="panel-heading">
               <h3 class="panel-title">Select items</h3>
             </div>
             <p><input type="hidden" id="itemnumber" value="{{noofitems}}"/></p>

             <div class="panel-body">
               <table class="table">
                <tr>
                  <th>Items</th>
                  <th>Picture</th>
                </tr>
              {%for i in noofitems%}
                <tr>
                  <td>
                    <div class="input-group">
                      <span class="input-group-addon" style="min-width:75px;text-align:left" id="basic-addon1" for="emailtemplate" >Categories</span>
                      <select class="form-control"  id="selectcategory-{{forloop.counter}}" aria-describedby="basic-addon1">
                      {% get_category_list 0 %}
                      </select>
                      </div><!--Input group-->
                      <div class="input-group">
                        <span class="input-group-addon" style="min-width:90px;text-align:left" id="basic-addon1" for="emailtemplate" >Item {{forloop.counter}}:</span>
                        <select class="form-control" name="item{{forloop.counter}}" id="item{{forloop.counter}}" onchange="getprice(this.value,{{forloop.counter}})">
                        <option></option>
                      </select>
                      </div><!--Input group-->
                      <br/>
                      <div class="input-group">
                        <span class="input-group-addon" style="min-width:90px;text-align:left" id="basic-addon1" for="emailtemplate" >Price</span>
                        <input class="form-control" type="text" name="price{{forloop.counter}}" id="price{{forloop.counter}}" disabled="true"></input>
                      </div><!--Input group-->


                  </td>
                  <td>
                    <a href="#" class="thumbnail">
                       <img src="" alt="" name="itemimage{{forloop.counter}}" id="itemimage{{forloop.counter}}" >
                    </a>
                  </td>
                </tr>
  {%endfor%}
</table>
</div>
</div>

               <p>Total Look Price: <input type="text" name="total" id="total" disabled="true"></input></p>
               <hr/>

        {% if styles %}
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Pick Applicable Styles</strong></div>
        </div>
         {% for style in styles %}
         <div class="row">
           <div class="col-lg-6">
             <div class="input-group">
               <span class="input-group-addon">
                 <input type="checkbox" name="stylescheck" id="stylescheck{{forloop.counter}}" value="{{ style.styleid }}"></input>
               </span>
             <input type="text" class="form-control"  value="{{ style.stylename }}">
           </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>
          {%endfor%}
        {% else %}
            <strong>There are no styles present.</strong>
        {% endif %}

       <hr/>
       <div>
       {% if occasions %}
       <div class="panel panel-default">
         <div class="panel-heading"><strong>Pick Occasions Types</strong></div>
       </div>
        {% for occasion in occasions %}
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-addon">
         <input type="checkbox" name="occasioncheck" id="occasioncheck{{forloop.counter}}" value="{{ occasion.occassionid }}"></input>
         </span>
         <input type="text" class="form-control"  value="{{ occasion.occassion_name }}">
         </div><!-- /input-group -->
         </div><!-- /.col-lg-6 -->
         </div>
         {%endfor%}
       {% else %}
           <strong>There are no occasions present.</strong>
       {% endif %}
      </div>
      <hr/>
      <div>
      {% if body_list %}
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Pick Body Types</strong></div>
      </div>
       {% for bodytype in body_list %}
       <div class="row">
         <div class="col-lg-6">
           <div class="input-group">
             <span class="input-group-addon">
        <input type="checkbox" name="bodytype" id="bodytype{{forloop.counter}}" value="{{ bodytype.id }}"></input>
      </span>
        <input type="text" class="form-control"  value="{{ bodytype.bodytype }}">
        </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        </div>
        {%endfor%}
      {% else %}
          <strong>There are no body types present.</strong>
      {% endif %}
     </div>
<hr/>
      <div>
      {% if budgets %}
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Pick Budget types</strong></div>
      </div>
          <select name="budgettype" id="budgettype">
       {% for budget in budgets %}
          <option value="{{budget.budgetid}}">{{budget.budgetname}}</option>
        {%endfor%}
      </select>
      {% else %}
          <strong>There are no budgets present.</strong>
      {% endif %}
     </div>
     <hr/>
   <button class="btn btn-primary" type="button"  onclick="submitform()">Submit</button>
     </form>
   </div>
{% endblock %}
